<div class="user-form-wrapper">
  <form matStretch fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Nome completo" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CPF/CNPJ" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="E-mail" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Senha" >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>