<div class="user-form-wrapper">
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome completo" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CPF/CNPJ" mask="CPF_CNPJ" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="E-mail" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Senha" >
    </mat-form-field><br>
    <button mat-raised-button color="primary" type="submit">Cadastrar</button>
  </form>
</div>