<div class="payments-list">
    <div *ngIf="isLoading" style="margin-top: 20px;" align="center">
      <mat-spinner></mat-spinner>
    </div>
    <mat-card *ngFor="let item of data" class="{{ item.payer === currentUser.personid ? 'current' : '' }}">
      <h4 style="margin-bottom: 5px;">{{ getName(item.payer, currentUser.personid, item.payername) }}
        pagou {{ getCurrency(item.value) }} para {{ getName(item.payee, currentUser.personid, item.payeename) }}</h4>
      <h6 style="margin: 0;">{{ getDate(item.paymentcreation) }}</h6>
    </mat-card>
</div>
<div *ngIf="data && data.length === 0">Você ainda não fez ou recebeu pagamentos.</div>
